body {
  background-image: url('./bricks.jpg');
  text-align: center;
}

.title {
  color: white;
}

.detailscard {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px grey;
  background-color: white
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 13rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px grey;
  background-color: white
}

.header {
  font-weight: bold;
}

.image {
  justify-self: center;
  height: 12rem;
  width: auto
}

.xbutton {
  font-size: 12px;
  padding: 10px 10px;
  float: left;
  margin: 7px
}

.filters {
  color: white;
  font-weight: bold;
}